* {margin: 0; padding: 0; box-sizing: border-box;}
.shadows-into-light-regular {font-family: "Roboto Slab", serif; font-optical-sizing: auto; font-weight: weight; font-style: normal;}
body { font-family: "Shadows Into Light", Roboto Slab; background: #EFEBE2;}

nav {text-align: center;}
nav ul li {display: inline-block;}
nav ul li a {padding: 10px; color: #FFF; display: block; text-decoration: none;} 
.navbar ul {list-style-type: none; display: flex; justify-content: flex-start; gap: 100px;}
.navbar ul li a {text-decoration: none; color: #FFF; word-spacing: 5px; padding: 10px; font-size: 20px;}
header {display: flex; justify-content: space-between; align-items: center; padding: 15px 20px; height: 80px; background: #AFC1D6;
    position: relative; z-index: 1000; }
.menu-toggle {display: none;}

img {max-width: 100%;}
.letra {max-width: 180px; height: auto; display: flex; text-align: left;}
.icono {padding: 20px; color: black; text-decoration: none;} 
.navegacion {display: none;}

.encabezado {background: none; border: none; cursor: pointer; display: flex; flex-direction: column; gap: 5px;}
.encabezado .bar {width: 25px; height: 3px; background: #FFFFFF;}

.slider {width: 100%; margin: 0 auto; padding: 0; position: relative; z-index: 1; overflow: hidden;}
.mySlides {display: none; width: 100%;}
.mySlides img {width: 100%; height: auto; object-fit: cover;}
.prev, .next {position: absolute; top: 50%; width: auto; padding: 16px; color: white; font-weight: bold; font-size: 40px; 
    transition: 0.6s ease; border: none; background-color: transparent; cursor: pointer; border-radius: 5px; z-index: 10;}
.prev:hover, .next:hover {background-color: transparent;}
.prev {left: 10px;}
.next {right: 10px;}

.locacionhome {padding: 10px; display: flex; flex-wrap: wrap; justify-content: center; }
.locacionhome h2 {text-align: center; margin-top: 20px; text-transform: uppercase;}
.locacionhome h3 {margin: 15px 0; text-align: center; text-transform: uppercase; font-size: 25px;}
.containercard {margin: 40px; width: 325px;}
.card {position: relative; width: 325px; height: 450px; background: #000; border-radius: 20px; box-shadow: 0 5px 10px rgba(0, 0, 0, .2); 
    overflow: hidden; margin: auto;}
.poster {position: relative; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;}
.poster::before {content: ''; position: absolute; bottom: -45%; left: 0; width: 100%; height: 100%;  z-index: 1;  transition: .3s;}
.card:hover .poster::before {bottom: 0;}
.poster img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; transition: .3s; border-radius: 20px;}
.card:hover .poster img {transform: scale(1.1);}
.detalle {position: absolute; bottom: -100%; left: 0; width: 100%; height: auto; padding: 1.5em 1.5em 2em; background: #000a;
    backdrop-filter: blur(16px) saturate(120%); transition: .3s; color: #fff; z-index: 2;}
.card:hover .detalle {bottom: 0;}
.pais {text-align: center; margin-top: 10px; font-size: 30px; font-weight: 500;}


.sidebar-ad {width: 300px; height: 250px; margin: 20px auto;}
.banner-ad img {max-width: 100%; height: auto;}

div {text-align: center;}
h1 {font-family: "Roboto Slab", serif; font-optical-sizing: auto; font-weight: 800; font-style: normal; text-align: center;
    margin-top: 40px; margin-bottom: 20px; padding: 0;}
h2 {font-family: "Roboto Slab", serif; font-optical-sizing: auto; font-weight: weight; font-style: normal; text-align: center;
    margin-bottom: 30px; padding: 0;} 
h3 {font-family: "Roboto Slab", serif; font-optical-sizing: auto; font-weight: weight; font-style: normal; text-align: center;}
h4 {font-family: "Roboto Slab", serif; font-optical-sizing: auto; font-weight: weight; font-style: normal; text-align: center; margin: 10px 0;}
p {font-family: "Roboto Slab", serif; font-optical-sizing: auto; font-weight: weight; font-style: normal; text-align: center; margin: 10px 0;}
a {font-family: "Roboto Slab", serif; font-optical-sizing: auto; font-weight: weight; font-style: normal; text-align: center;}


footer {font-family: "Roboto Slab", serif; padding: 20px; background: #AFC1D6; color: #fff;}
.footercontainer {display: flex; justify-content: space-between; align-items: center;}
.logo img {max-width: 100px;}
.datos, .links {flex: 1;}
.datos ul, .links ul {list-style-type: none; padding: 0;}
.datos li, .links li {margin-bottom: 10px;}
.links a {color: #fff; text-decoration: none;}
.copy {text-align: center; padding-top: 20px; font-size: 14px; border-top: 1px solid grey;}

.imagencity { width: 50%;}
.cajacontenedora {display: flex; align-items: center;}
.caja {width: 900%; border: 1px solid #000; text-align: center;}
.caja img {width: 90%; padding: 5%;}
.tour {width: 300px}

.anunciorv {width: 300px; height: 600px; object-fit: cover; justify-content: center;}
.cajacontanuncio {display: flex; justify-content: center; margin: 10px 0;}

.main-container {display: flex; justify-content: center; align-items: flex-start; padding: 20px; }
.tarjeta-imagen {max-width: 100%; height: auto; margin-right: 20px;}
.form-container {display: flex; flex-direction: column; max-width: 400px; padding: 20px; color: #707070; margin-left: 20px;}
.field-container {margin-bottom: 15px; }
.flex-row {display: flex; justify-content: center; align-items: center;}
.flex-row:last-child {margin-top: 20px;}
.flex-item {flex: 1; margin-right: 10px;}
.flex-item:last-child {margin-right: 0; }
label {padding-bottom: 5px; font-size: 13px;}
input {margin-top: 3px; padding: 15px; font-size: 16px; width: 100%;  border-radius: 3px; border: 1px solid #dcdcdc;}
.boton-enviar {padding: 10px; font-size: 16px; background-color: #AFC1D6; color: white; border: none; border-radius: 5px; 
cursor: pointer; width: 120px; }
.boton-enviar:hover {background-color: #F2B819;}



@media (max-width: 768px) 
{
    .prev, .next {transform: translateY(-50%); font-size: 30px;}
    .slider {max-width: 100%;}
    .navbar ul {display: none; flex-direction: column; gap: 20px; background-color: #AFC1D6; 
    position: absolute; top: 80px; left: 0; width: 100%; text-align: center;}
    .navbar ul li {display: block;}
    .menu-toggle {display: block; background-color: transparent; border: none; color: white; font-size: 30px; cursor: pointer;}
    .navbar.active ul {display: flex;}

    .footer-container {flex-direction: column; text-align: center;}
    .logo, .datos, .links {flex-basis: 100%;  max-width: 100%; padding: 10px 0;}
    .links {text-align: center; }

    .locacion-home {position: relative; width: 100%; height: 100%; padding: 20px; display: flex; align-content: center; justify-content: center; 
    gap: 24px; flex-wrap: wrap;}
    
    .main-container {flex-direction: column; align-items: center;}
    .tarjeta-imagen {margin-right: 0; margin-bottom: 20px;}
}

@media (min-width: 769px) 
{
    .slider {width: 100%;} 
    .anunciorv {width: 728px; height: 90px; object-fit: cover;} 
    .prev, .next {transform: translateY(-50%); font-size: 40px;}
}

@media (min-width: 1200px) {.footer, .contacto {width: 1200px; margin: auto;}}

